/* Colors css*/
.Background-dark-blue{
    background-color: #102754 !important;
   }
   .dark-blue-color{
     color: #102754;
   }
   .Purple{
    color: #453cc9;
   }
   .LightBlue{
    color: #22aff1;
   }
   .GreyWhite{
     color: #d4e8ff;
   }
   .GoldenYellow{
    color: #ffc100;
   }