
/* --------------------Navbar css----------------------- */
.text-orange {
    color: #fe7410;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url('/src/img/burger-icon-png.png') !important;
    width: 4.5vw;
    margin-top: 1vh;
  }
  .button:focus:not(:focus-visible) {
    outline: 0;
  }
  
  .navbar-toggler {
    padding: 0.10rem 0.6rem !important;  
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
  }
  
  .navbar-light .navbar-toggler {
    border-color: white !important;
  }
  
  .navbar-light .navbar-toggler {
    color: transparent !important;
  }
  .navbar-brand{
    font-family: "Gilroy_Bold";
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 2rem;
      text-decoration: none;
      white-space: nowrap;
      /* font-weight: 300 !important; */
      margin-left: -36px;
  }
  .text-light-yellow{
    color: #f8efa7;
  }
  .bg-color{
    background-color: #00444e;
  }
  .hover Link:hover{
    color: #f8efa7;
    background-color: #f8efa7;
  }
  .btn-radius{
    border-radius: 20px;
  }
  .font-13{
    font-size: 13px;
  }
  .font-bold{
    font-weight: bold;
  }
  .btn-login btn:hover{
  color: #f8efa7;
  }
  .animated-img{
    animation: float 1s ease-out infinite;
  }
  .zoom {
    transition: 0.4s;
 }
 .btn-footer{
    text-decoration: none;
    color: white;
 }
 .btn-footer a:hover{
    color: #f8efa7 !important;
 }


 .zoom {
  padding: 50px;
  /* background-color: green; */
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
 
  /* --------------------Mobile View Css start----------------- */
@media only screen and (max-width: 570px) {
    .header{
      display: none;
    }
    .logo{
      margin-left: 1em;
    }
  }
  @media only screen and (max-width: 450px) {
 .animated-img{
  width: 270px;
 }
  }
  @media only screen and (max-width: 350px) {
    .animated-img{
     width: 150px;
    }
  }
  @media only screen and (max-width: 960px) {

    .btn-login{
      width: 160px;
      /* border-radius: none; */
      margin-left: 1em;
      margin-top: 1em;
    }
  }
  /* --------------------Mobile View Css End----------------- */
  